<form id='customer' style="display:none">
  <input type="hidden" id="customer_id" name="id">
  <div class="form-group logo">
    <label for="firmenlogo">Firmenlogo</label>
		<input type="file" name="logo" title="Click to add Files" accept="image/png, image/jpeg image/jpg">
    <p class="form-control-feedback">Only .jpeg, .jpg and .png are accepted</p>
  </div>
  <div class="form-group customer_name">
    <label for="kundenname">Kundenname</label>
    <input class="form-control" type="text" name="customer_name" />
    <p class="form-control-feedback"></p>
  </div>
  <div class="form-group address">
    <label for="address">Address</label>
    <div class="form-group-inline">
      <div class="col-md-4">
        <label for="address">Straße + Nr.</label>
        <input class="form-control" type="text" name="street" placeholder="Straße + Nr."/>
        <p class="form-control-feedback"></p>
      </div>
      <div class="col-md-4">
        <label for="address">PLZ</label>
        <input class="form-control" type="text" name="zip" placeholder="PLZ"/>
        <p class="form-control-feedback"></p>
      </div>
      <div class="col-md-4">
        <label for="address">Ort</label>
        <input class="form-control" type="text" name="city" placeholder="Ort"/>
        <p class="form-control-feedback"></p>
      </div>
    </div>
  </div>

  <label class="contact-label">Ansprechpartner</label>
  <div class="contact">
    <div class="form-group">
      <label for="contact_name">Name</label>
      <input class="form-control" type="text" name="contact_name" />
      <p class="form-control-feedback"></p>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input class="form-control" type="text" name="position"/>
      <p class="form-control-feedback"></p>
    </div>
    <div class="form-group">
      <label for="phone_number">Telefon</label>
      <input class="form-control" type="text" name="phone_number"/>
      <p class="form-control-feedback"></p>
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input class="form-control" type="email" name="email" id="email"/>
      <p class="form-control-feedback"></p>
    </div>
  </div>
  <div class="form-group applications">
    <label for="application">Application</label>
    <%=
      select_tag(
        :applications,
        options_from_collection_for_select(current_admin.account.applications, :id, :name),
        multiple: true,
        class: 'form-control'
      )
    %>
  </div>
  <div class="actions">
    <button class="btn btn-success">Speichern</button>
    <button id="cancel" class="btn btn-default">Abbrechen</button>
  </div>
</form>
