<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">
  <div class="table-header">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <button class="add-customer btn btn-success">ADD CUSTOMER</button>
      </div>
    </div>
    <%= render "customers/form" %>
  </div>
  <div class="table-header">
    <table class="table table-list table-striped live-search-table" data-search-input="#search_table_beacon_name">
      <thead>
        <tr>
          <th>Kundenname</th>
          <th>Telefon</th>
          <th>E-Mail</th>
          <th>Benutzername</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Passwort zurücksetzen</th>
          <th class="text-center">Löchen</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%= prompt_modal(t('customers.modal.title'), t('customers.modal.body')) %>
<%= prompt_modal(t('customers.modal.title'), t('customers.reset_password.body'), 'shared/reset_password_modal') %>
