<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree.
###%>

<%= render layout: 'admins/shared/layout' do %>

  <% flash.each do |type, msg| %>
    <div class="<%= type %>"><%= msg %></div>
  <% end %>

  <%= button_to "Sign in with Keycloak", admin_omniauth_authorize_path(:openid_connect) %>

<% end %>
